body >section.contenido{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}
body > section.contenido > h1{
    border-bottom: 1px solid #111;
}
table{
    margin-left: 4em;
    caption-side: bottom;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    width: 70%;
}
    caption{
        text-align: start;
        padding: .2em;
        font-size: small;
    }
    th{
        background-color: rgb(158, 158, 158);
    }
    td,th{
        border: 1px solid #111;
        padding: .2em .3em;
    }
@media all and (min-width:600px){
    th{
        width: 40%;
    }
}