/*WEB FONTS*/
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital@0;1&display=swap');
/*Variables*/
:root{
    --color-hover-botones: rgb(213, 214, 214);
    --color-barra-navegacion: #08d1d1;
    --color-sombra:  rgb(161, 161, 161);
    --color-fondo-columnas:rgb(158, 158, 158);
}
/*Estilos globales*/
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
a{
    text-decoration: none;
}
button{
    border: 1px solid #111;
    border-radius: .3em;
    background-color: none;
}
body{
    background-color: azure;
    min-width: 380px;
    font-family: 'PT Sans';
}
h3,h2{
    margin: .5em;
}
    
/*Estilos cabezera*/
body > header{
    border: 1px solid;
    text-align: center;
    color: white;
    background-image: url(../imagenes/senderismoTitulo.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment: fixed;
    opacity: .9;    
}
    body > header > img{
        opacity: .8;
    }
    body > header > div{
        margin: .5em 0;
    }
/*Barra navegacion*/
body > .barra-navegacion{
    background-color: var(--color-barra-navegacion);
    width: 100%;
}
    .barra-navegacion > #checkMenu{
        display: none;
    }
    
    nav > ul{
        display: none;
        list-style: none;
        margin-top: 0;
    }
    
    .barra-navegacion > label{
        display: block;            
    }
    .barra-navegacion > label:hover{
        cursor: pointer;
        background-color:var(--color-barra-navegacion);            
    }
        nav > ul > li{
            display: grid;
        }
            nav > ul > li > a{
                background-color: var(--color-barra-navegacion);
                border: 1px solid #111;
                color: #111;
            }
            nav > ul > li > a:hover{
                background-color: rgb(87, 87, 255);
            }

/*Estilos para el foother*/
body > footer{
    background-color: var(--color-barra-navegacion);
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: .5em;
}


/*Despliega el menu*/
#checkMenu:checked + nav > ul{
    display: block;
}

@media all and (min-width:500px){
    /*Barra de navegacion*/
    body > section.barra-navegacion > label{
        display: none;
    }
    nav > ul{
        display: flex;
        padding: 0;
    }
    nav > ul > li{
        border-right: 1px solid #fff;
    }
        
        nav > ul > li > a{
            border: none;
            justify-content: start;
            display: block;
            padding: .3em .5em;
        }
        nav > ul > li > a>span:last-child{
            display: none;
        }
}
@media all and (min-width:500px){
    #checkMenu:checked + nav > ul{
        display: flex;
        
    }
}
@media all and (min-width:600px){
    nav > ul > li > a>span:last-child{
        display: inline-block;
    }
}